<div nz-row>
  <div nz-col nzXs="24" nzSm="15" nzMd="15" nzLg="15">
    <nz-select
      [nzMaxTagCount]="10"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Select Channel"
      [(ngModel)]="selectedConnections"
      (ngModelChange)="connectionToggle($event)"
    >
      <nz-option
        *ngFor="let item of connections"
        [nzCustomContent]="true"
        [nzLabel]="item.Name"
        [nzValue]="item"
      >
        <ng-container *ngIf="item.ConnectionName == 'facebook_page'"
          ><span nz-icon nzType="facebook" nzTheme="fill"></span
        ></ng-container>
        <ng-container *ngIf="item.ConnectionName == 'instagram'"
          ><span nz-icon nzType="instagram" nzTheme="fill"></span
        ></ng-container>
        <ng-container *ngIf="item.ConnectionName == 'linkedin_profile'"
          ><span nz-icon nzType="linkedin" nzTheme="fill"></span
        ></ng-container>
        <ng-container *ngIf="item.ConnectionName == 'twitter'"
          ><span nz-icon nzType="twitter-circle" nzTheme="fill"></span
        ></ng-container>
        <ng-container *ngIf="item.ConnectionName == 'pintrest_board'"
          ><span nz-icon nzType="pushpin" nzTheme="fill"></span
        ></ng-container>
        {{ item.Name }}
      </nz-option>
    </nz-select>

   

    <ng-template #tagPlaceHolder let-selectedList
      >and {{ selectedList.length }} more selected</ng-template
    >

    <button type="button" class="btn-primary-icon mt-2" (click)="showModal()">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 9a3 3 0 0 1 3-3m-2 15h4m0-3c0-4.1 4-4.9 4-9A6 6 0 1 0 6 9c0 4 4 5 4 9h4Z"/>
      </svg> &nbsp; Write With AI
    </button>
    
    <div class="mt-2">
      <textarea
        id="message"
        rows="8"
        class="textarea"
        placeholder="Post content..."
        [(ngModel)]="postContent"
      ></textarea>
      <div class="char-count text-right">{{ postContent.length }}</div>
    </div>

    <!-- <div class="mt-2">
      <button nz-button nzType="dashed" (click)="showModal()">
        <span nz-icon nzType="bulb" nzTheme="fill"></span> Genrate With AI
      </button>
    </div> -->

    <div class="clearfix mt-2">
      <app-upload-media
          [files]="files"
          (uploadedFiles)="uploadedFiles($event)"
        ></app-upload-media>
    </div>

    <div class="mt-2">
      <nz-date-picker
        nzShowTime
        nzFormat="yyyy-MM-dd HH:mm"
        [(ngModel)]="postDate"
        ngModel
        class="datepicker"
      ></nz-date-picker>
    </div>

    <div class="mt-2 text-right">
      <button
        class="btn-success"
        nzType="default"
        (click)="schedulePost(true)"
      >
        Send Now
      </button>
      <button
        class="btn-warning"
        nzType="dashed"
        (click)="schedulePost(true)"
      >
        Draft
      </button>
      <button
        class="btn-primary"
        nzType="primary"
        (click)="schedulePost()"
      >
        Schedule
      </button>
    </div>

  </div>

  <div nz-col nzXs="24" nzSm="9" nzMd="9" nzLg="9" class="pd-10">
    <nz-tabset>
      <ng-container *ngFor="let selected of selectedConnections; let i = index">
        <ng-container *ngIf="selected.ConnectionName == 'facebook_page'">
          <nz-tab [nzTitle]="title">
            <ng-template #title>
              <span nz-icon nzType="facebook" nzTheme="outline"></span>
              {{ selected.Name }}
            </ng-template>

            <app-facebook-card
              [name]="selected.Name"
              [profile_image]="selected.ProfileImage"
              [images]="images"
              [postDate]="postDate"
              [postContent]="postContent"
            ></app-facebook-card>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="selected.ConnectionName == 'instagram'">
          <nz-tab [nzTitle]="title">
            <ng-template #title>
              <span nz-icon nzType="instagram" nzTheme="outline"></span>
              {{ selected.Name }}
            </ng-template>

            <app-instagram-card
              [name]="selected.Name"
              [profile_image]="selected.ProfileImage"
              [images]="images"
              [postDate]="postDate"
              [postContent]="postContent"
            ></app-instagram-card>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="selected.ConnectionName == 'twitter'">
          <nz-tab [nzTitle]="title">
            <ng-template #title>
              <span nz-icon nzType="twitter" nzTheme="outline"></span>
              {{ selected.Name }}
            </ng-template>

            <app-twitter-card
              [name]="selected.Name"
              [profile_image]="selected.ProfileImage"
              [images]="images"
              [postDate]="postDate"
              [postContent]="postContent"
            ></app-twitter-card>
          </nz-tab>
        </ng-container>

        <ng-container *ngIf="selected.ConnectionName == 'linkedin_profile'">
          <nz-tab [nzTitle]="title">
            <ng-template #title>
              <span nz-icon nzType="linkedin" nzTheme="outline"></span>
              {{ selected.Name }}
            </ng-template>

            <app-linkedin-card
              [name]="selected.Name"
              [profile_image]="selected.ProfileImage"
              [images]="images"
              [postDate]="postDate"
              [postContent]="postContent"
            ></app-linkedin-card>
          </nz-tab>
        </ng-container>


        <ng-container *ngIf="selected.ConnectionName == 'pintrest_board'">
          <nz-tab [nzTitle]="title">
            <ng-template #title>
              <span nz-icon nzType="pushpin" nzTheme="outline"></span>
              {{ selected.Name }}
            </ng-template>

            <app-pinterest-card
              [name]="selected.Name"
              [profile_image]="selected.ProfileImage"
              [images]="images"
              [postDate]="postDate"
              [postContent]="postContent"
            ></app-pinterest-card>
          </nz-tab>
        </ng-container>


      </ng-container>
    </nz-tabset>
  </div>
</div>

<nz-modal
  nzDraggable
  nzCentered
  [(nzVisible)]="isVisible"
  nzTitle="Write With AI"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzBodyStyle]="{
    'min-height': '200px'
  }"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <app-ai-content (generatedContent)="generatedContent($event)"></app-ai-content>
  </ng-container>
</nz-modal>
