<div class="max-w-7xl mr-auto ml-auto ">
    <div class="flex flex-col md:flex-row">
        <!-- Left Section -->
        <div class="flex flex-col p-6 md:w-1/2">
            <!-- Hero Section -->

            <section class="text-center py-20">
                <h1 class="text-6xl font-bold mb-6 dark:text-white">
                    Manage Your Social Media Profiles
                </h1>

                <p class="mb-12 mt-12 dark:text-white">
                    Stay organized, save time and easily manage your social media with
                    monitoring.
                </p>
                <a href="{{ apiHost }}/auth/google/start" type="button"
                    class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg">
                    Login
                </a>


                <!-- <form class="flex justify-center mb-12 mt-12">
                    <input type="email" placeholder="Your Email" class="text-gray-800 px-4 py-2 rounded-l" />

                    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-r">
                        Subscribe
                    </button>
                </form> -->
            </section>
        </div>

        <div class="flex flex-col p-6 md:w-1/2">
            <img src="./assets/images/hero-image.svg" alt="Hero Image" class="mx-auto hero-image" />
        </div>
    </div>



    <!-- Services Section -->

    <section class="py-20">
        <h2 class="text-center text-3xl font-bold mb-12 dark:text-white">How to use?</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8">
            <div class="bg-gray-800 p-6 text-center rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Connect</h3>

                <p class="dark:text-white">Connect you social media accounts</p>
            </div>

            <div class="bg-gray-800 p-6 text-center rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Create</h3>

                <p class="dark:text-white">Create the social post you want</p>
            </div>

            <div class="bg-gray-800 p-6 text-center rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Schedule</h3>

                <p class="dark:text-white">Schedule your post</p>
            </div>
        </div>
    </section>

    <div class="flex flex-col md:flex-row">
        <div class="flex flex-col p-6 md:w-1/2">
            <img src="./assets/images/connect social account.svg" alt="Hero Image" class="mx-auto w-full" />
        </div>
        <div class="flex flex-col p-6 md:w-1/2">
            <section class="text-center py-20">
                <h1 class="text-4xl font-bold mb-6 dark:text-white">Connect upto 5 Channels</h1>

                <p class="mb-12 mt-12 dark:text-white">
                    Currently, we offer five robust channels that allow you to
                    effortlessly handle all your social media needs. Whether you’re a
                    small business, a large enterprise, or an individual looking to
                    optimize your online presence.
                </p>
            </section>
        </div>
    </div>

    <div class="flex flex-col md:flex-row">
        <div class="flex flex-col p-6 md:w-1/2">
            <section class="text-center py-20">
                <h1 class="text-4xl font-bold mb-6 dark:text-white">Use AI to write Posts</h1>

                <p class="mb-12 mt-12 dark:text-white">
                    We are excited to offer advanced AI technology to generate your
                    social media posts. Our AI can craft engaging and personalized
                    content tailored to your audience, saving you time and ensuring
                    consistency across all your social channels. Let our AI take the
                    guesswork out of social media management, so you can focus on what
                    matters most—growing your brand and connecting with your
                    followers.
                </p>
            </section>
        </div>

        <div class="flex flex-col p-6 md:w-1/2">
            <img src="./assets/images/use ai.svg" alt="Hero Image" class="mx-auto hero-image" />
        </div>
    </div>

    <div class="flex flex-col md:flex-row">
        <div class="flex flex-col p-6 md:w-1/2">
            <img src="./assets/images/bulk schedule.png" alt="Hero Image" class="mx-auto hero-image" />
        </div>

        <div class="flex flex-col p-6 md:w-1/2">
            <section class="text-center py-20">
                <h1 class="text-4xl font-bold mb-6 dark:text-white">Bulk Schedule</h1>

                <p class="mb-12 mt-12 dark:text-white">
                    You can effortlessly schedule your posts in bulk across all your
                    social media accounts with our platform. This feature allows you
                    to plan and organize your content in advance, ensuring a
                    consistent and timely presence on all your channels without the
                    daily hassle.
                </p>
            </section>
        </div>
    </div>

    <section class="py-20 bg-gray-800">
        <h2 class="text-center text-3xl font-bold mb-12 dark:text-white">
            Pricing
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8">
            <div class="bg-gray-900 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Basic</h3>
                <h6 class="text-xl font-bold mb-4 dark:text-white">$5/month</h6>


                <ul class="mt-4 mb-6 text-gray-600">
                    <li class="flex items-center dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Connect upto 3 channels
                    </li>

                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        2 posts per channel per day
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Schedule post for next 7 days
                    </li>

                </ul>

                <a href="#" class="text-blue-500 mt-4 inline-bloc">Sign Up</a>
            </div>

            <div class="bg-gray-900 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Standard</h3>
                <h6 class="text-xl font-bold mb-4 dark:text-white">$10/month</h6>


                <ul class="mt-4 mb-6 text-gray-600">
                    <li class="flex items-center dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Connect Upto 5 Channels
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        5 posts per channel per day
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Compose posts with AI
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Schedule post for next 30 days
                    </li>
                </ul>

                <a href="#" class="text-blue-500 mt-4 inline-block">Sign Up</a>
            </div>

            <div class="bg-gray-900 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Premium</h3>
                <h6 class="text-xl font-bold mb-4 dark:text-white">$20/month</h6>


                <ul class="mt-4 mb-6 text-gray-600">
                    <li class="flex items-center dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Connect Upto 5 Channels
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Unlimited posts per channel per day
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Compose posts with Advanced AI
                    </li>
                    <li class="flex items-center mt-2 dark:text-white">
                        <svg class="w-5 h-5 text-green-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 00-1.414-1.414L7 12.172l-3.293-3.293a1 1 0 00-1.414 1.414l4 4a1 1 0 001.414 0l9-9z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Schedule post for anytime
                    </li>
                </ul>


                <a href="#" class="text-blue-500 mt-4 inline-block">Sign Up</a>
            </div>
        </div>

    </section>


    <!-- Ready to Serve Section -->

    <!-- <section class="py-20 dark:text-white">
        <h2 class="text-center text-3xl font-bold mb-12 dark:text-white">
            We Are Ready To Serve You Differently
        </h2>

        <div class="text-center flex justify-center space-x-8">
            <div class="bg-gray-800 p-6 rounded-lg">
                <p class="text-2xl font-bold">150+</p>

                <p>Awesome Talents</p>
            </div>

            <div class="bg-gray-800 p-6 rounded-lg">
                <p class="text-2xl font-bold">200+</p>

                <p>Services Offered</p>
            </div>

            <div class="bg-gray-800 p-6 rounded-lg">
                <p class="text-2xl font-bold">+100M</p>

                <p>Global Reach</p>
            </div>

            <div class="bg-gray-800 p-6 rounded-lg">
                <p class="text-2xl font-bold">15M+</p>

                <p>Monthly Impr</p>
            </div>
        </div>
    </section> -->

    <!-- Multi-Channel Section -->

    <section class="py-20 bg-gray-800 dark:text-white">
        <h2 class="text-center text-3xl font-bold mb-12 dark:text-white">
            We Use A Multi-Channel Social Media Approach
        </h2>

        <div class="flex justify-center space-x-8">
            <img src="./assets/images/fb.png" alt="Channel 1" class="w-12" />

            <img src="./assets/images/Instagram_icon.png.webp" alt="Channel 2" class="w-12" />

            <img src="./assets/images/LinkedIn_logo_initials.png.webp" alt="Channel 3" class="w-12" />

            <img src="./assets/images/Pinterest-logo.png" alt="Channel 4" class="w-12" />

            <img src="./assets/images/twitter.webp" alt="Channel 5" class="w-12" />
        </div>
    </section>

    <!-- Case Studies Section -->

    <!-- <section class="py-20 dark:text-white">
        <h2 class="text-center text-3xl font-bold mb-12 dark:text-white">Case Studies</h2>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8">
            <div class="bg-gray-800 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Case Study 1</h3>

                <p>Short description of Case Study 1...</p>

                <a href="#" class="text-blue-500 mt-4 inline-block">View All</a>
            </div>

            <div class="bg-gray-800 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Case Study 2</h3>

                <p>Short description of Case Study 2...</p>

                <a href="#" class="text-blue-500 mt-4 inline-block">View All</a>
            </div>

            <div class="bg-gray-800 p-6 rounded-lg">
                <h3 class="text-2xl font-bold mb-4 dark:text-white">Case Study 3</h3>

                <p>Short description of Case Study 3...</p>

                <a href="#" class="text-blue-500 mt-4 inline-block">View All</a>
            </div>
        </div>
    </section> -->
</div>

<!-- Footer Section -->

<footer class="py-6 bg-gray-900 text-center dark:text-white">
    <p>© 2022 Arabia Talents. All rights reserved.</p>

    <div class="mt-4 ">
        <a href="#" class="mx-2 dark:text-white">Find Talent</a>

        <a href="#" class="mx-2 dark:text-white">Case Studies</a>

        <a href="#" class="mx-2 dark:text-white">Terms & Conditions</a>

        <a href="#" class="mx-2 dark:text-white">Privacy Policy</a>
    </div>
</footer>