<nz-timeline *ngIf="connections">
  <nz-timeline-item *ngFor="let conn of connections">
    <strong>{{ conn.PublishAt | date: "yyyy-MM-dd HH:mm" }}</strong>
    
    <ng-container *ngIf="connection.ConnectionName == 'twitter'">

      <app-twitter-card
      [name]="connection.Name"
      [profile_image]="connection.ProfileImage"
      [images]="conn.Medias"
      [postDate]="conn.PublishAt"
      [postContent]="conn.Description"
    ></app-twitter-card>
    
    </ng-container>

    <ng-container *ngIf="connection.ConnectionName == 'facebook_page'">

      <app-facebook-card
      [name]="connection.Name"
      [profile_image]="connection.ProfileImage"
      [images]="conn.Medias"
      [postDate]="conn.PublishAt"
      [postContent]="conn.Description"
    ></app-facebook-card>
    
    </ng-container>

    <ng-container *ngIf="connection.ConnectionName == 'linkedin_profile'">

      <app-linkedin-card
      [name]="connection.Name"
      [profile_image]="connection.ProfileImage"
      [images]="conn.Medias"
      [postDate]="conn.PublishAt"
      [postContent]="conn.Description"
    ></app-linkedin-card>
    
    </ng-container>


    <ng-container *ngIf="connection.ConnectionName == 'instagram'">

      <app-instagram-card
      [name]="connection.Name"
      [profile_image]="connection.ProfileImage"
      [images]="conn.Medias"
      [postDate]="conn.PublishAt"
      [postContent]="conn.Description"
    ></app-instagram-card>
    
    </ng-container>


  </nz-timeline-item>
</nz-timeline>

<ng-container *ngIf="!connections">
  <nz-empty
    nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
    [nzNotFoundContent]="contentTpl"
    [nzNotFoundFooter]="footerTpl"
  >
    <ng-template #contentTpl>
      <span> No Post Avaliable </span>
    </ng-template>
    <ng-template #footerTpl>
      <a nz-button nzType="primary" (click)="redirectAddNew()">Create Now</a>
    </ng-template>
  </nz-empty>
</ng-container>
