

<div nz-row>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5" nzXl="5">
    <nz-card style="width: 100%" nzTitle="Connections" [nzBordered]="false">
      <h1 class="text-center">{{ connectionsCount }}</h1>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5" nzXl="5">
    <nz-card style="width: 100%" nzTitle="Post Count" [nzBordered]="false">
      <h1 class="text-center">{{ postCount }}</h1>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5" nzXl="5">
    <nz-card style="width: 100%" nzTitle="Published" [nzBordered]="false">
      <h1 class="text-center">{{ publishedCount }}</h1>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="5" nzXl="5">
    <nz-card style="width: 100%" nzTitle="Scheduled" [nzBordered]="false">
      <h1 class="text-center">{{ scheduledCount }}</h1>
    </nz-card>
  </div>

  <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="4" nzXl="4">
    <nz-card style="width: 100%" nzTitle="Failed" [nzBordered]="false">
      <h1 class="text-center">{{ failedCount }}</h1>
    </nz-card>
  </div>
</div>
<div class="mt-20">
  <nz-calendar *ngIf="!loading">
    <ul *nzDateCell="let date" class="events">
      <ng-container *ngIf="getPostsForDate(date).length">
        <li *ngFor="let item of getPostsForDate(date)">
          <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
        </li>
      </ng-container>
    </ul>
  </nz-calendar>
</div>

<div class="animation-container" *ngIf="loading">
    <lottie-player src="/assets/animations/loading.json" background="transparent" speed="1" loop autoplay >
    </lottie-player>
</div>