<ng-container *ngIf="!loading">
  <div class="m-10">
    
    <button (click)="statusChange('')" [ngClass]="{'btn-primary': status == '', 'btn-primary-outline': status != ''}">View All</button>
    <button (click)="statusChange('scheduled')" [ngClass]="{'btn-primary': status == 'scheduled', 'btn-primary-outline': status != 'scheduled'}">Scheduled</button>
    <button (click)="statusChange('published')" [ngClass]="{'btn-primary': status == 'published', 'btn-primary-outline': status != 'published'}">Published</button>
    <button (click)="statusChange('draft')" [ngClass]="{'btn-primary': status == 'draft', 'btn-primary-outline': status != 'draft'}">Draft</button>
    <button (click)="statusChange('failed')" [ngClass]="{'btn-primary': status == 'failed', 'btn-primary-outline': status != 'failed'}">Failed</button>
  </div>

  <div style="padding-left: 5px">


    <ol class="relative border-s border-gray-200 dark:border-gray-700" *ngIf="posts">                  
      <li class="mb-10 ms-6" *ngFor="let conn of posts">            
          <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
              <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
          </span>
          <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">{{ conn.publish_at | date: "yyyy-MM-dd HH:mm" }} 
            
            <ng-container *ngIf="conn.status == 'failed'">
              <span nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="{{ conn.Logs }}"></span>
            </ng-container>
            <ng-container
            *ngIf="conn.status == 'scheduled' || conn.status == 'draft'"
          >
            <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3" (click)="navigateToEdit(conn.id)">Edit</span>
            <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3" nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this post?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deletePost(conn.id)">Delete</span>
            
            
          </ng-container>
          </h3>
          <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
            <ng-container *ngIf="connection.ConnectionName == 'twitter'">
              <app-twitter-card
                [name]="connection.Name"
                [profile_image]="connection.ProfileImage"
                [images]="conn.medias"
                [postDate]="conn.publish_at"
                [postContent]="conn.description"
                [status]="conn.status"
              ></app-twitter-card>
            </ng-container>
    
            <ng-container *ngIf="connection.ConnectionName == 'facebook_page'">
              <app-facebook-card
                [name]="connection.Name"
                [profile_image]="connection.ProfileImage"
                [images]="conn.medias"
                [postDate]="conn.publish_at"
                [postContent]="conn.description"
                [status]="conn.status"
              ></app-facebook-card>
            </ng-container>
    
            <ng-container *ngIf="connection.ConnectionName == 'linkedin_profile'">
              <app-linkedin-card
                [name]="connection.Name"
                [profile_image]="connection.ProfileImage"
                [images]="conn.medias"
                [postDate]="conn.publish_at"
                [postContent]="conn.description"
                [status]="conn.status"
              ></app-linkedin-card>
            </ng-container>
    
            <ng-container *ngIf="connection.ConnectionName == 'instagram'">
              <app-instagram-card
                [name]="connection.Name"
                [profile_image]="connection.ProfileImage"
                [images]="conn.medias"
                [postDate]="conn.publish_at"
                [postContent]="conn.description"
                [status]="conn.status"
              ></app-instagram-card>
            </ng-container>
    
            <ng-container *ngIf="connection.ConnectionName == 'pintrest_board'">
              <app-pinterest-card
                [name]="connection.Name"
                [profile_image]="connection.ProfileImage"
                [images]="conn.medias"
                [postDate]="conn.publish_at"
                [postContent]="conn.description"
                [status]="conn.status"
              ></app-pinterest-card>
            </ng-container>
          </p>
          
      </li>
      </ol>

  </div>

  <ng-container *ngIf="!posts">
    <nz-empty
      nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
      [nzNotFoundContent]="contentTpl"
      [nzNotFoundFooter]="footerTpl"
    >
      <ng-template #contentTpl>
        <span> No Post Avaliable </span>
      </ng-template>
      <ng-template #footerTpl>
        <a nz-button nzType="primary" (click)="redirectAddNew()">Create Now</a>
      </ng-template>
    </nz-empty>
  </ng-container>
</ng-container>

<div class="animation-container" *ngIf="loading">
  <lottie-player
    src="/assets/animations/loading.json"
    background="transparent"
    speed="1"
    loop
    autoplay
  >
  </lottie-player>
</div>

<ng-template #defaultDot>
  <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
</ng-template>

<ng-template #successDot>
  <i nz-icon nzType="check-circle" nzTheme="outline" style="color: #85d1d0"></i>
</ng-template>

<ng-template #errorDot>
  <i nz-icon nzType="close-circle" nzTheme="outline" style="color: #ffa1a6"></i>
</ng-template>

<ng-template #scheduledDot>
  <i
    nz-icon
    nzType="calendar"
    nzTheme="outline"
    style="color: #bfbfe5"
  ></i>
</ng-template>

<ng-template #draftDot>
  <i
    nz-icon
    nzType="save"
    nzTheme="outline"
    style="color: #ffc08d"
  ></i>
</ng-template>
