<ng-container *ngIf="!loading">
  <div class="mt-10 text-right">
    <button nz-button nzType="primary" (click)="addNew()">Add New</button>
  </div>

  <div *ngFor="let date of getDates()">
    <ng-container *ngIf="schedules[date].length > 0">
      <h2>{{ date | date: "EEEE, MMMM d, y" }}</h2>

      <ng-container *ngFor="let timeSlot of schedules[date]">
        <ng-container
          *ngIf="
            getPostFromSlot(timeSlot) && getPostFromSlot(timeSlot).Description
          "
        >
          <div
            class="card green-border"
            (click)="editPost(getPostFromSlot(timeSlot).ID)"
          >
            {{ getTimeFromSlot(timeSlot) }}

            <span class="post-content">
              {{
                getPostFromSlot(timeSlot)
                  .Description.replaceAll("\n")
                  .substring(0, 35)
              }}...</span
            >
          </div>
        </ng-container>

        <ng-container
          *ngIf="
            getPostFromSlot(timeSlot) && !getPostFromSlot(timeSlot).Description
          "
        >
          <div
            class="card"
            (click)="addNew(date + ' ' + getTimeFromSlot(timeSlot))"
          >
            {{ getTimeFromSlot(timeSlot) }}
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<!-- Add Edit Modal-->
<nz-modal
  nzDraggable
  nzCentered
  [(nzVisible)]="isVisible"
  nzTitle="Write With AI"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="modalWidth"
  [nzClosable]="true"
  [nzKeyboard]="false"
  [nzCloseOnNavigation]="false"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <add-new
      [connection]="connection"
      [slot]="slot"
      [postId]="postId"
    ></add-new>
  </ng-container>
</nz-modal>

<div class="animation-container" *ngIf="loading">
  <lottie-player
    src="/assets/animations/loading.json"
    background="transparent"
    speed="1"
    loop
    autoplay
  >
  </lottie-player>
</div>
