<ng-template #facebook>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48,f_auto/images/fb_fhxGf49v.png"
    width="30px"
    alt=""
    class="ant-scroll-number-custom-component"
  /> &nbsp; Facebook
</ng-template>
<ng-template #instagram>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/instagram_icon.png_P2n4El51.webp"
    width="30px"
    alt="instagram"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Instagram
</ng-template>

<ng-template #linkedin>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/linkedin_logo_initials.png_G0eVpCWb.webp"
    width="30px"
    alt="LinkedIn"
    class="ant-scroll-number-custom-component"
  /> &nbsp; LinkedIn
</ng-template>

<ng-template #pintrest>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48,f_auto/images/pinterest-logo_lhG5inoN.png"
    width="30px"
    alt="pintrest"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Pintrest
</ng-template>

<ng-template #twitter>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/twitter_6tGq0h68.webp"
    width="30px"
    alt="Twitter"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Twitter
</ng-template>

<ng-container *ngIf="!loading">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card [nzTitle]="facebook" [nzExtra]="fbButton">
        <ng-container *ngFor="let connection of connections">
          <ng-container *ngIf="connection.ConnectionName == 'facebook_page'">
            <div nz-row class="mt-10 connection">
              <div nz-col nzXs="6">
                <nz-avatar
                  [nzSize]="64"
                  nzIcon="user"
                  nzSrc="{{ connection.ProfileImage }}"
                ></nz-avatar>
              </div>
              <div nz-col nzXs="16">
                <div class="name">{{ connection.Name }}</div>
                <div class="connection-id">{{ connection.ConnectionId }}</div>
                <div class="connection-time">
                  {{ connection.CreatedAt | date: "medium" }}
                </div>
              </div>

              <div nz-col nzXs="2">
                <button
                  nz-button
                  nzType="link"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this connection?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConnection(connection.ID)"
                >
                  <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-card>
      <ng-template #fbButton>
        <a nz-button nzType="link" (click)="connectFacebook()"
          ><span nz-icon nzType="link" nzTheme="outline"></span> Connect</a
        >
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card [nzTitle]="instagram" [nzExtra]="instaButton">
        <ng-container *ngFor="let connection of connections">
          <ng-container *ngIf="connection.ConnectionName == 'instagram'">
            <div nz-row class="mt-10 connection">
              <div nz-col nzXs="6">
                <nz-avatar
                  [nzSize]="64"
                  nzIcon="user"
                  nzSrc="{{ connection.ProfileImage }}"
                ></nz-avatar>
              </div>
              <div nz-col nzXs="16">
                <div class="name">{{ connection.Name }}</div>
                <div class="connection-id">{{ connection.ConnectionId }}</div>
                <div class="connection-time">
                  {{ connection.CreatedAt | date: "medium" }}
                </div>
              </div>

              <div nz-col nzXs="2">
                <button
                  nz-button
                  nzType="link"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this connection?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConnection(connection.ID)"
                >
                  <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-card>
      <ng-template #instaButton>
        <a nz-button nzType="link" (click)="connectInstagram()"
          ><span nz-icon nzType="link" nzTheme="outline"></span> Connect</a
        >
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card [nzTitle]="linkedin" [nzExtra]="linkedinButton">
        <ng-container *ngFor="let connection of connections">
          <ng-container *ngIf="connection.ConnectionName == 'linkedin_profile'">
            <div nz-row class="mt-10 connection">
              <div nz-col nzXs="6">
                <nz-avatar
                  [nzSize]="64"
                  nzIcon="user"
                  nzSrc="{{ connection.ProfileImage }}"
                ></nz-avatar>
              </div>
              <div nz-col nzXs="16">
                <div class="name">{{ connection.Name }}</div>
                <div class="connection-id">{{ connection.ConnectionId }}</div>
                <div class="connection-time">
                  {{ connection.CreatedAt | date: "medium" }}
                </div>
              </div>

              <div nz-col nzXs="2">
                <button
                  nz-button
                  nzType="link"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this connection?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConnection(connection.ID)"
                >
                  <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-card>
      <ng-template #linkedinButton>
        <a nz-button nzType="link" (click)="connectLinkedin()"
          ><span nz-icon nzType="link" nzTheme="outline"></span> Connect</a
        >
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card [nzTitle]="twitter" [nzExtra]="twitterButton">
        <ng-container *ngFor="let connection of connections">
          <ng-container *ngIf="connection.ConnectionName == 'twitter'">
            <div nz-row class="mt-10 connection">
              <div nz-col nzXs="6">
                <nz-avatar
                  [nzSize]="64"
                  nzIcon="user"
                  nzSrc="{{ connection.ProfileImage }}"
                ></nz-avatar>
              </div>
              <div nz-col nzXs="16">
                <div class="name">{{ connection.Name }}</div>
                <div class="connection-id">{{ connection.ConnectionId }}</div>
                <div class="connection-time">
                  {{ connection.CreatedAt | date: "medium" }}
                </div>
              </div>

              <div nz-col nzXs="2">
                <button
                  nz-button
                  nzType="link"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this connection?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConnection(connection.ID)"
                >
                  <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-card>
      <ng-template #twitterButton>
        <a nz-button nzType="link" (click)="connectTwitter()"
          ><span nz-icon nzType="link" nzTheme="outline"></span> Connect</a
        >
      </ng-template>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <nz-card [nzTitle]="pintrest" [nzExtra]="pintrestButton">
        <ng-container *ngFor="let connection of connections">
          <ng-container *ngIf="connection.ConnectionName == 'pintrest_board'">
            <div nz-row class="mt-10 connection">
              <div nz-col nzXs="6">
                <nz-avatar
                  [nzSize]="64"
                  nzIcon="user"
                  nzSrc="{{ connection.ProfileImage }}"
                ></nz-avatar>
              </div>
              <div nz-col nzXs="16">
                <div class="name">{{ connection.Name }}</div>
                <div class="connection-id">{{ connection.ConnectionId }}</div>
                <div class="connection-time">
                  {{ connection.CreatedAt | date: "medium" }}
                </div>
              </div>

              <div nz-col nzXs="2">
                <button
                  nz-button
                  nzType="link"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure delete this connection?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="deleteConnection(connection.ID)"
                >
                  <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </nz-card>
      <ng-template #pintrestButton>
        <a nz-button nzType="link" (click)="connectPintrest()"
          ><span nz-icon nzType="link" nzTheme="outline"></span> Connect</a
        >
      </ng-template>
    </div>
  </div>
</ng-container>

<div class="animation-container" *ngIf="loading">
  <lottie-player
    src="/assets/animations/loading.json"
    background="transparent"
    speed="1"
    loop
    autoplay
  >
  </lottie-player>
</div>
