

<ng-template #facebook>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48,f_auto/images/fb_fhxGf49v.png"
    width="30px"
    alt=""
    class="ant-scroll-number-custom-component"
  /> &nbsp; Facebook
</ng-template>
<ng-template #instagram>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/instagram_icon.png_P2n4El51.webp"
    width="30px"
    alt="instagram"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Instagram
</ng-template>

<ng-template #linkedin>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/linkedin_logo_initials.png_G0eVpCWb.webp"
    width="30px"
    alt="LinkedIn"
    class="ant-scroll-number-custom-component"
  /> &nbsp; LinkedIn
</ng-template>

<ng-template #pintrest>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48,f_auto/images/pinterest-logo_lhG5inoN.png"
    width="30px"
    alt="pintrest"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Pintrest
</ng-template>

<ng-template #twitter>
  <img
    src="https://res.cloudinary.com/harendra21/image/upload/w_48/images/twitter_6tGq0h68.webp"
    width="30px"
    alt="Twitter"
    class="ant-scroll-number-custom-component"
  /> &nbsp; Twitter
</ng-template>

<ng-container *ngIf="!loading">
  <div nz-row>
    <div nz-col nzXs="24" nzSm="12" nzMd="6">


      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden m-5 dark:bg-gray-700 dark:text-white">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ env.fbLogo }}" alt="Avatar">
            <div class="ml-3">
              <p class="text-gray-800 font-semibold dark:text-white" >Facebook</p>
            </div>
          </div>
          <button class="bg-blue-500 text-white px-3 py-1 rounded-lg text-sm" (click)="connectFacebook()">Connect</button>
        </div>
        <div class="p-4">
          <p class="text-gray-700">
            <ng-container *ngFor="let connection of connections">
              <ng-container *ngIf="connection.ConnectionName == 'facebook_page'">
                <div nz-row class="mt-2 connection">
                  <div nz-col nzXs="6">
                    <nz-avatar
                      [nzSize]="64"
                      nzIcon="user"
                      nzSrc="{{ connection.ProfileImage }}"
                    ></nz-avatar>
                  </div>
                  <div nz-col nzXs="16">
                    <div class="name">{{ connection.Name }}</div>
                    <div class="connection-id">{{ connection.ConnectionId }}</div>
                    <div class="connection-time">
                      {{ connection.CreatedAt | date: "medium" }}
                    </div>
                  </div>
    
                  <div nz-col nzXs="2">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure delete this connection?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteConnection(connection.ID)"
                    >
                      <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>

    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden m-5 dark:bg-gray-700 dark:text-white">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ env.instaLogo }}" alt="Avatar">
            <div class="ml-3">
              <p class="text-gray-800 font-semibold dark:text-white" >Instagram</p>
            </div>
          </div>
          <button class="bg-blue-500 text-white px-3 py-1 rounded-lg text-sm" (click)="connectInstagram()">Connect</button>
        </div>
        <div class="p-4">
          <p class="text-gray-700">
            <ng-container *ngFor="let connection of connections">
              <ng-container *ngIf="connection.ConnectionName == 'instagram'">
                <div nz-row class="mt-2 connection">
                  <div nz-col nzXs="6">
                    <nz-avatar
                      [nzSize]="64"
                      nzIcon="user"
                      nzSrc="{{ connection.ProfileImage }}"
                    ></nz-avatar>
                  </div>
                  <div nz-col nzXs="16">
                    <div class="name">{{ connection.Name }}</div>
                    <div class="connection-id">{{ connection.ConnectionId }}</div>
                    <div class="connection-time">
                      {{ connection.CreatedAt | date: "medium" }}
                    </div>
                  </div>
    
                  <div nz-col nzXs="2">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure delete this connection?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteConnection(connection.ID)"
                    >
                      <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>
      
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden m-5 dark:bg-gray-700 dark:text-white">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ env.linkedinLogo }}" alt="Avatar">
            <div class="ml-3">
              <p class="text-gray-800 font-semibold dark:text-white" >Linkedin</p>
            </div>
          </div>
          <button class="bg-blue-500 text-white px-3 py-1 rounded-lg text-sm" (click)="connectLinkedin()">Connect</button>
        </div>
        <div class="p-4">
          <p class="text-gray-700">
            <ng-container *ngFor="let connection of connections">
              <ng-container *ngIf="connection.ConnectionName == 'linkedin_profile'">
                <div nz-row class="mt-2 connection">
                  <div nz-col nzXs="6">
                    <nz-avatar
                      [nzSize]="64"
                      nzIcon="user"
                      nzSrc="{{ connection.ProfileImage }}"
                    ></nz-avatar>
                  </div>
                  <div nz-col nzXs="16">
                    <div class="name">{{ connection.Name }}</div>
                    <div class="connection-id">{{ connection.ConnectionId }}</div>
                    <div class="connection-time">
                      {{ connection.CreatedAt | date: "medium" }}
                    </div>
                  </div>
    
                  <div nz-col nzXs="2">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure delete this connection?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteConnection(connection.ID)"
                    >
                      <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>
    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">

      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden m-5 dark:bg-gray-700 dark:text-white">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ env.twitterLogo }}" alt="Avatar">
            <div class="ml-3">
              <p class="text-gray-800 font-semibold dark:text-white" >Twitter</p>
            </div>
          </div>
          <button class="bg-blue-500 text-white px-3 py-1 rounded-lg text-sm" (click)="connectTwitter()">Connect</button>
        </div>
        <div class="p-4">
          <p class="text-gray-700">
            <ng-container *ngFor="let connection of connections">
              <ng-container *ngIf="connection.ConnectionName == 'twitter'">
                <div nz-row class="mt-2 connection">
                  <div nz-col nzXs="6">
                    <nz-avatar
                      [nzSize]="64"
                      nzIcon="user"
                      nzSrc="{{ connection.ProfileImage }}"
                    ></nz-avatar>
                  </div>
                  <div nz-col nzXs="16">
                    <div class="name">{{ connection.Name }}</div>
                    <div class="connection-id">{{ connection.ConnectionId }}</div>
                    <div class="connection-time">
                      {{ connection.CreatedAt | date: "medium" }}
                    </div>
                  </div>
    
                  <div nz-col nzXs="2">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure delete this connection?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteConnection(connection.ID)"
                    >
                      <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>

    </div>

    <div nz-col nzXs="24" nzSm="12" nzMd="6">
      
      <div class="max-w-sm w-full bg-white shadow-lg rounded-lg overflow-hidden m-5 dark:bg-gray-700 dark:text-white">
        <div class="flex items-center justify-between p-4 border-b">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full object-cover" src="{{ env.pinterestLogo }}" alt="Avatar">
            <div class="ml-3">
              <p class="text-gray-800 font-semibold dark:text-white" >Pinterest</p>
            </div>
          </div>
          <button class="bg-blue-500 text-white px-3 py-1 rounded-lg text-sm" (click)="connectPintrest()">Connect</button>
        </div>
        <div class="p-4">
          <p class="text-gray-700">
            <ng-container *ngFor="let connection of connections">
              <ng-container *ngIf="connection.ConnectionName == 'pintrest_board'">
                <div nz-row class="mt-2 connection">
                  <div nz-col nzXs="6">
                    <nz-avatar
                      [nzSize]="64"
                      nzIcon="user"
                      nzSrc="{{ connection.ProfileImage }}"
                    ></nz-avatar>
                  </div>
                  <div nz-col nzXs="16">
                    <div class="name">{{ connection.Name }}</div>
                    <div class="connection-id">{{ connection.ConnectionId }}</div>
                    <div class="connection-time">
                      {{ connection.CreatedAt | date: "medium" }}
                    </div>
                  </div>
    
                  <div nz-col nzXs="2">
                    <button
                      nz-button
                      nzType="link"
                      nz-popconfirm
                      nzPopconfirmTitle="Are you sure delete this connection?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="deleteConnection(connection.ID)"
                    >
                      <span nz-icon nzType="disconnect" nzTheme="outline"></span>
                    </button>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </p>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<div class="animation-container" *ngIf="loading">
  <lottie-player
    src="/assets/animations/loading.json"
    background="transparent"
    speed="1"
    loop
    autoplay
  >
  </lottie-player>
</div>
