<nz-tabset nzLinkRouter>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ action: 'queue'}" queryParamsHandling="merge">
      Queue
    </a>
    <ng-container *ngIf="action == 'queue' && connection">
      <app-queue [connection]="connection"></app-queue>
    </ng-container>
  </nz-tab>
  <nz-tab>
    <a *nzTabLink nz-tab-link [routerLink]="['.']" [queryParams]="{ action: 'view' }" >
      View
    </a>
    <ng-container *ngIf="action == 'view'">
      <app-scheduled [connection]="connection"></app-scheduled>
    </ng-container>
  </nz-tab>

</nz-tabset>